<div class="nested-fields">
  <%= f.input :name %>
  <%= f.input :config_file_notify %>
  <%= f.input :config_file_require %>
  <%= f.input :debug %>
  <%= f.input :base_dir %>
  <%= f.input :content %>
  <%= f.input :data_module %>
  <%= f.input :debug_dir %>
  <%= f.input :ensure %>
  <%= f.input :epp %>
  <%= f.input :group %>
  <%= f.input :mode %>
  <%= f.input :owner %>
  <%= f.input :path %>
  <%= f.input :source %>
  <%= f.input :template %>
  <%= f.input :template_content, as: :text, input_html: { rows: 15, cols: 10, class: 'editor' } %>
  <div class="form-group select optional application_confs_options_hash">
    <label class="select optional col-sm-3 control-label" for="application_confs_options_hash">Options Hash</label>
    <div class="col-sm-9">
      <div class="row">
        <div class='col-md-5'><strong>Key</strong></div>
        <div class='col-md-5'><strong>Value</strong></div>
        <div class='col-md-2'></div>
      </div>
      <%= f.simple_fields_for :options_hash do |hash| %>
        <%= render 'hash_fields', f: hash %>
      <% end %>
      <div class="application_confs_options_hash_links">
        <%= link_to_add_association 'add option', f, :options_hash, partial: 'hash_fields' %>
      </div>
    </div>
  </div>

  <div class="form-group select optional application_confs_settings_hash">
    <label class="select optional col-sm-3 control-label" for="application_confs_settings_hash">Settings Hash</label>
    <div class="col-sm-9">
      <div class="row">
        <div class='col-md-5'><strong>Key</strong></div>
        <div class='col-md-5'><strong>Value</strong></div>
        <div class='col-md-2'></div>
      </div>
      <%= f.simple_fields_for :settings_hash do |hash| %>
        <%= render 'hash_fields', f: hash %>
      <% end %>
      <div class="application_confs_settings_hash_links">
        <%= link_to_add_association 'add setting', f, :settings_hash, partial: 'hash_fields' %>
      </div>
    </div>
  </div>
  <%= link_to_remove_association "remove conf", f %>
  <hr />
</div>